Package: dirtytooth
Version: 2.0
Section: base
Priority: optional
Architecture: armhf
Depends: bluealsa, libbluetooth-dev, python-dbus, python-pip, git
Maintainer: Eleven Paths <labs@elevenpaths.com>
Description: DirtyTooth package
 DirtyTooth is a small hack that takes advantage of the iOS configuration as far as bluetooth profile management is concerned, through this little hack you can extract information from users an their environment.
